[include]
  path = ~/.gitconfig.local
  path = ~/.gitconfig.alias
[includeIf "gitdir:~/src/github.com/"]
  path = ~/src/github.com/.gitconfig
[color]
	ui = auto
[filter "media"]
	clean = !git-media-clean %f
	smudge = !git-media-smudge %f
[core]
	excludesfile = ~/.gitignore_global
  editor = vim
  pager = less
[credential]
	helper = osxkeychain
[commit]
  # 常にやるのは重いのでエイリアスで明示的にcommit -vする
  #verbose = true
[rebase]
	autosquash = true
[merge]
  # トピックブランチで行った変更を見やすくするため常にno-ff
	ff = false
[pull]
  # マージコミットを作らないようにno-ffのマージを禁止
  ff = only
  # マージコミットを作らないようにrebaseでpull
  rebase = true
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
[ghq]
  root = ~/src
[http]
	postBuffer = 524288000
	cookiefile = ${HOME}/.gitcookies
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
