[include]
  path = ~/.gitconfig.local
[color]
	ui = auto
[alias]
  c = commit -v
  co = !git branch | peco | xargs git checkout
	st = status
	br = branch
  p = !git push origin `git rev-parse --abbrev-ref HEAD`
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  today = !git log --since=midnight --author="$(git config user.name)" --oneline
  n  = now --all --stat
  d = "!git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d"
  modified = diff --diff-filter=M
  deleted = diff --diff-filter=D
  diff = diff --color | diff-so-fancy
  sorttime = "!git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:iso8601)%09%(refname)' refs/heads"
  alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
[filter "media"]
	clean = !git-media-clean %f
	smudge = !git-media-smudge %f
[core]
	excludesfile = ~/.gitignore_global
	editor = /Applications/MacVim.app/Contents/MacOS/Vim
  pager = less
[diff]
	tool = diffphp
[difftool "diffphp"]
  # 動いてない
  cmd = \"colordiff\" -wBI \"^\\s*\\/\" \"$LOCAL\" \"$REMOTE\"
  prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.2.4/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[commit]
  #重いので -vする
  #verbose = true
[rebase]
	autosquash = true
[merge]
	ff = false
[pull]
  ff = only
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
 [ghq]
  root = ~/.ghq
  root = ~/.go/src
