"*":
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "72f30a87-8fa2-0681-38f2-a5c66ebeb73f"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "sync-settings":
    _analyticsUserId: "bc1a5b96-8415-4f03-a62b-e5e07d851ab8"
    _lastBackupHash: "2705ee2008395442707f401d1ed5bd364bb4c011"
    gistId: "bf5dbf6e6745ad8f7b23bc47ff770020"
    personalAccessToken: "34805d1a4247c942c056ae5075840e09dd38f4a0"
  welcome:
    showOnStartup: false
