"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  autosave:
    enabled: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "language-gfm"
      "keybinding-resolver"
      "api-workbench"
      "linter-sass-lint"
      "minimap"
      "file-icons"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "ricty discord"
    fontSize: 12
    lineHeight: 1.1
  "exception-reporting":
    userId: "69bc8a50-8e7a-41f2-8024-d089c45b63b8"
  "file-icons":
    onChanges: true
  "git-diff":
    showIconsInEditorGutter: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "markdown-preview-opener":
    closePreviewWhenClosingEditor: true
  "markdown-writer": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "plantuml-viewer":
    charset: "utf-8"
    grammars: [
      "plantuml"
      "source.plantuml"
      "text.plain"
      "text.plain.null-grammar"
      "pu"
    ]
  "split-diff":
    ignoreWhitespace: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
